.banner{
  margin-left: 25px;
  height: 100px;
  width: 80%;
}

.radio{
  margin-top: 10px;
}

#ls_embed_1506545116{
  width: 100%;
}

.container ion-card{
  margin-top: 20px;
}

ion-card-header{
  background:#FF0000;
}

ion-card-title{
  font-family: Calibri;
  color: #ffffff;
  font-weight: bold;
}

ion-card-content{
  margin-top:20px;
  font-family: Calibri;
}

ion-card-content img{
  padding-bottom: 15px;
}

