  <ion-header>
    <ion-toolbar color="dark" >
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="ban">
        <img class="banner" src="file:///Users/eliasgarcia/Desktop/UVM-NEW/src/Desktop/ban1.jpg">
    </div>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <img class="ambientelince" src="../../assets/slider/image1.jpg">  
    

  <div class="radio">
    <iframe id="ls_embed_1506545116" src="https://livestream.com/accounts/21495989/events/7714963/player?width=860&amp;height=440&amp;defaultDrawer=feed&amp;autoPlay=true&amp;mute=false"  frameborder="0" scrolling="no" allowfullscreen="" autoplay> </iframe>
  </div>



  <div class="container">
    
  <ion-text >
    <h1>Noticias</h1>
  </ion-text>
      
  <ion-card>
    <ion-card-header>
      <ion-card-title>VideoPoadcast</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../../assets/slider/cae.jpg" >
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
      <ion-row>
          <ion-col>
              <button ion-button icon-start clear small (click)="btnShare()">
                <ion-icon name="share-alt"></ion-icon>
                <div>Compartir</div>
              </button>
            </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>


    <h1>Deportes</h1>

        
    <ion-card>
      <ion-card-header>
        <ion-card-title>Linces UVM  Intermedia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <img src="../../assets/slider/linces.jpg" >
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
        <ion-row>
            <ion-col>
                <button ion-button icon-start clear small (click)="btnShare()">
                  <ion-icon name="share-alt"></ion-icon>
                  <div>Compartir</div>
                </button>
              </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>

    <h1>Galerias</h1>

        
    <ion-card>
      <ion-card-header>
        <ion-card-title>Galerias</ion-card-title>
      </ion-card-header>
      <img src="../../assets/img/WhatsApp_listo1.jpg">
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
        <ion-row>
            <ion-col>
                <button ion-button icon-start clear small (click)="btnShare()">
                  <ion-icon name="share-alt"></ion-icon>
                  <div>Compartir</div>
                </button>
              </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>

    <h1>Supervinculos</h1>

        
    <ion-card>
      <ion-card-header>
        <ion-card-title>Supervinculos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <h1>Programacion</h1>

        
    <ion-card>
      <ion-card-header>
        <ion-card-title>Programacion</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>


  </div>
    

  </ion-content>
